.button {
    background: blanchedalmond;
    padding: 20px;

    &:hover {
        background: bisque;
    }
}

.header {
    padding: 12px;
    background: aliceblue;
}

.link {
    padding: 12px;
    &:hover {
        color: blue;
        background: aliceblue;
    }
}